
button{
  text-align: center;
  padding: 1.2rem;
  color: #bdd7ea;
  background-color: #493b27;
  border: black solid 3px;
  box-shadow: black 13px 13px 13px;


  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover{
  background-color: #bdd7ea;
  color: 	#1a405c;
}
#title{
  font-size: 4rem;
  background-color: black;
  padding: 2rem;
  color: white;
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
